* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
}

.pokemon {
  color: orangered;
  font-size: 1.7rem;
  font-style: italic;
  text-align: center;
  margin: 0 auto;
  width: 70%;
}

.pokemon-count {
  font-size: 1rem;
  color: rgb(137, 139, 0);
  display: block;
}

.img-cont {
  display: flex;
  align-items: center;
  margin: 3% 3% 0 3%;
}

.pokemon-img {
  height: 16vh;
  border-radius: 8vh;
  width: 16vh;
  border: 4px solid #227cb9;
}

#pokdex {
  list-style-type: none;
  display: grid;
  grid-template-columns: 250px;
  justify-content: center;
  justify-items: center;
  padding: 3%;
}

.card {
  width: 90%;
  cursor: pointer;
}

.card:hover {
  background-color: #f5f5f5;
  border-radius: 1rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.card-imag-cont {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-image {
  width: 100%;
  max-width: 250px;
}

.card-image:hover {
  filter: grayscale(0);
}

.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11%;
  padding: 5px;
}

.card-title {
  font-size: 1.3rem;
  color: #333;
  text-transform: capitalize;
}

.heart {
  cursor: pointer;
}

.heart-img {
  height: 1.5rem;
}

.heart-img:hover {
  transform: scale(1.2);
}

.like-cont {
  display: flex;
  justify-content: flex-end;
  font-size: 1rem;
  margin: 0 5%;
}

.likes {
  margin-right: 0.5rem;
  border-radius: 10px;
  color: red;
  font-weight: bolder;
}

.comment-btn-cont {
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment-btn {
  background-color: olivedrab;
  border: 2px solid olivedrab;
  box-shadow: 2px 2px olivedrab;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  margin: 3% 10%;
}

.footer {
  height: 20vh;
  width: 100vw;
  border-top: 2px solid black;
  display: flex;
  align-items: center;
  background-color: aliceblue;
  margin: 0 auto;
  padding-left: 8%;
}

.popup-cont {
  display: none;
}

.popup-cont.active {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.popup {
  width: 100vw;
  height: auto;
  background-color: #e4e2e2e6;
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
  overflow: scroll;
}

.popup-header {
  width: 100%;
  height: 17vh;
  display: flex;
  align-items: center;
  position: relative;
}

.popup-header > img {
  width: 40%;
}

.close-btn {
  position: absolute;
  top: -14px;
  right: 2%;
  cursor: pointer;
  border: none;
  background-color: rgba(228, 226, 226, 0.9019607843);
  font-size: 5rem;
  font-weight: bolder;
}

.pokemon-title {
  font-size: 1.5rem;
  text-transform: capitalize;
  text-align: center;
}

.pokemon-body {
  width: 30%;
}

.text {
  color: #333;
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.comment-sec {
  display: flex;
  flex-direction: column;
}

.comm-cont {
  width: 63%;
  height: auto;
}

.comm-header {
  font-size: 1.2rem;
  color: #333;
  font-weight: bold;
  margin: 5%;
  text-align: center;
}

.comm-body {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  width: 100%;
  height: auto;
}

.comm-list {
  font-size: 0.7rem;
  color: #333;
  font-weight: bold;
}

.comm-form {
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

input {
  width: 45%;
  height: 3rem;
  border: 2px solid #333;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}

textarea {
  width: 65%;
  border: 2px solid #333;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}

.submit-btn {
  width: 30%;
  height: 2rem;
  background-color: #f5f5f5;
  border: 2px solid black;
  box-shadow: 2px 2px black;
  border-radius: 0.5rem;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}

@media (min-width: 500px) and (max-width: 600px) {
  #pokdex {
    grid-template-columns: repeat(2, 40%);
  }

  .pokemon {
    font-size: 2rem;
  }

  .pokemon-count {
    font-size: 1.5rem;
  }
}

@media (min-width: 600px) and (max-width: 700px) {
  #pokdex {
    grid-template-columns: repeat(2, 50%);
  }

  .pokemon {
    font-size: 2rem;
  }

  .pokemon-count {
    font-size: 1.5rem;
  }
}

@media (min-width: 700px) and (max-width: 1175px) {
  .pokemon-img {
    height: 22vh;
    border-radius: 11vh;
    width: 22vh;
  }

  #pokdex {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .pokemon {
    font-size: 2.2rem;
  }

  .pokemon-count {
    font-size: 2rem;
  }

  .pokemon-body {
    display: flex;
    gap: 1.5rem;
  }

  .text {
    font-size: 1rem;
  }

  .popup {
    width: 80vw;
    left: 10%;
    top: 20%;
  }

  .comment-sec {
    flex-direction: row;
  }

  .comm-cont {
    order: 3;
  }

  .comm-header {
    text-align: start;
  }

  .comm-list {
    font-size: 1rem;
  }
}

@media (min-width: 1175px) {
  .pokemon-img {
    height: 22vh;
    border-radius: 11vh;
    width: 22vh;
  }

  #pokdex {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .pokemon {
    font-size: 3.5rem;
  }

  .pokemon-count {
    font-size: 2rem;
  }

  .pokemon-body {
    display: flex;
    gap: 1rem;
  }

  .text {
    font-size: 1rem;
  }

  .popup {
    width: 80vw;
    left: 10%;
    top: 20%;
  }

  .comment-sec {
    flex-direction: row;
  }

  .comm-header {
    text-align: start;
  }

  .comm-list {
    font-size: 1rem;
  }

  form {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .submit-btn {
    margin-top: 20%;
  }
}
