.footer {
  height: 20vh;
  width: 80vw;
  text-align: center;
  border-top: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  margin: 0 auto;
}
